*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;  /* Horizontal center */
    align-items: center;      /* Vertical center */
    background-color: #f3f1f1;
  }
  .container{
    display: flex;
    flex-direction: row;
    gap: 2em;
    margin: 1.5em;
  }
  .subContainer{
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
.blogs{
    max-width: 45rem;
    height: auto;
    margin:  auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: inset;
}
.flexGrid{
    display: flex;
    flex-direction: row;
    gap: 2em;
    padding: 2em 2em 1.5em 4em;
}
h2{
    padding: 0em 2em 0.5em 1em;
    color: rgb(68, 66, 66);
}
h3{
    color: rgb(182, 182, 182);
    font-size: 14px;
}
li{
    color: rgb(153, 151, 151);
    font-size: 14px;
}
p{
    padding: 0em 1.5em 1.5em 1.5em;
    color: rgb(78, 77, 75);
}
button{
    color: rgb(3, 142, 235);
    margin: 0rem 0 1.5rem 1.5rem;
    border: none;
    font-size: 16px;
    font-weight: 600;
    background-color: inherit;
}

.subscribtionPart{
    min-width: 20em;
    max-height: 15em;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
}
.subscribtionPart h2 {
    display: flex;
    justify-content: center;
    margin: 1rem;
    width: 90%;
    border-bottom: 2px rgb(18, 158, 240) solid; 
    color: rgb(27, 27, 27);

}
.subscribtionPart p{
    max-width: 20em;
    text-align: center;
    line-height: 1.2;
}
.subscribtionPart input{
    display: flex;
    justify-content: center;
    margin-left: 1rem;
    margin-right: 1rem;
    height: 2.5em;
    width: 90%;
    color: rgb(255, 252, 252);
}
.subscribtionPart button{
    color: white;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1em;
    padding: 0.5em;
    width: 90%;
    background-color: rgb(30, 146, 224);
    border-radius: 8px;
}
@media (max-width: 650px) {
    .container{
        display: flex;
        flex-direction: column;
        gap: 2em;
      }
    
  }